name: build
on: [push, pull_request]
jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:
      - name: Setup Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
      - name: Checkout code
        uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Run unit tests
        run: make test
      - name: Upload code coverage
        uses: codecov/codecov-action@v1.0.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.txt
      - name: Release snapshot
        uses: goreleaser/goreleaser-action@v1
        with:
          args: release --snapshot --skip-publish --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_REGISTRY_TOKEN }}
      - name: Scan image for vulnerabilities
        uses: docker://docker.io/aquasec/trivy:0.1.6
        with:
          args: --cache-dir /var/lib/trivy --exit-code 1 docker.pkg.github.com/danielpacak/dev-sec-ops-seed/seed:${{ github.sha }}
